.container1 {
    display: flex;
    gap: 20px;
}
.container2 {
    display: flex;
    gap: 20px;
}
.container3 {
    display: flex;
    gap: 20px;
}
.kotak1 {
    background-color: rgb(0, 255, 42);
    display: flex;
    padding: 10px;
    height: 200px;
    width: 100%;
}
.kotak2 {
    background-color: gold;
    display: flex;
    padding: 10px;
    height: 300px;
    width: 360px;
}
.kotak3 {
    background-color: rgb(255, 0, 0);
    gap: 20px;
    display: flex;
    padding: 10px;
    height: 300px;
    width: 100%;
}
.kotak4 {
    background-color: gold;
    display: flex;
    padding: 10px;
    height: 300px;
    width: 360px;
}
.kotak5 {
    background-color: blue;
    gap: 20px;
    display: flex;
    padding: 10px;
    height: 300px;
    width: 100%;
}